{% extends 'base.html' %}

{% block title %}Reset Your Password{% endblock  %}

{% block content %}
    <h1>Reset Your Password</h1>
    {% if validlink %}
        <p>Please Choise Your Password and enter it 2 time</p>
        <form method='POST'>
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type='submit' value='Change My Password'></p>
        </form>
    {% else %}
        <p>The Password Reset Link is Invalid, Please Try Again</p>
    {% endif %}
{% endblock  %}